@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

body {
  margin: 0;
  background: #0b1216 linear-gradient(to bottom, #20292f 0, #0b1216 500px);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.paginator {
  display: flex;
  width: fit-content;
}

.paginator li {
  width: 30px;
  height: 30px;
  margin: 5px;
  background: cadetblue;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator li.selected {
  color: #fff;
  border-color: honeydew;
}